#lyrics {
  height: 200px;
}

.card-button {
  margin-top: 15px;
  width: 100px;
}

.lyrics-card{
  min-height: 355px;
}

.lyrics-card-content{
  min-height: 355px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
