canvas {
  width: 100%;
  height: 174px;
  border-radius: 5px;
}

.recorder-card {
  min-height: 344px;
}

.recorder-card-content {
  min-height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.record-buttons {
  display: flex;
  flex-direction: row;
  margin:8px;
}

.record-button {
  margin-right: 8px;
}
